<launch>

<rosparam file="$(find Braço_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Braço" args="base_rot1_position_controller rot1_rot2_position_controller rot2_rot3_position_controller rot3_prism1_position_controller prism1_rot4_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Braço/joint_states"/>
</node>

</launch>